.top{
    display:flex;
    justify-content: center;
}
*{
    font-size: large;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
button{
    width:400px;
    height:60px;
    background-color:#90ee90;
    border-radius:10px;
}
.second{
    background-color: white;
}
.link{
    color:white;
    background-color:blue;
    width:400px;
    height:60px;
}
form{
    padding:20px;
}

input{
    margin:20px;
    background-color: white;
    width:400px;
    height:60px;
    border-radius:10px;
}